// -----------------------------------------------------------------
// MAIN
// -----------------------------------------------------------------
.l-main {
  background: url('Images/common/ogp.png');

  h2 {
    font-family: 'Couture', sans-serif;
    font-size: 3rem;
  }
}
