// -----------------------------------------------------------------
// Animation
// -----------------------------------------------------------------

[data-fade-type='Up'] {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: transform 1s ease-in-out, opacity 1s ease-out;
  &.is-inview {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

[data-fade-type='Down'] {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: transform 1s ease-in-out, opacity 1s ease-out;
  &.is-inview {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

[data-fade-type='In'] {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in;
  &.is-inview {
    opacity: 1;
    visibility: visible;
  }
}

[data-fade-type='Left'] {
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  transition: transform .5s ease-in-out, opacity .5s ease-out;
  &.is-inview {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

[data-fade-type='Right'] {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: transform 1s ease-in-out, opacity 1s ease-out;
  &.is-inview {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.scrollin-up {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition: all 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &.is-inview {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
