// -----------------------------------------------------------------
// Hover
// -----------------------------------------------------------------
.c-hover-opacity {
	transition: opacity 0.3s;
	backface-visibility: hidden;
	@include mq(pc) {
		&:hover {
			opacity: 0.8
		}
	}
}

.c-imgScale {
  overflow: hidden;
  position: relative;
  img {
    display: block;
    transition: transform .8s cubic-bezier(.09, .43, .1, .79);
  }
}

.c-imgScaleHover {
  &:hover {
    .c-imgScale {
      img {
        transform: scale(1.1);
      }
    }
  }
}