extend ../../layouts/default

append vars
  - var page = 'sub';
  - var title = 'Demo page sub';
  - var description = '';
  - var url = '';

block main
  main.l-main
    h1 Page content subcc
    a(href="/") link top
